
*{margin:0;padding:0;box-sizing:border-box;font-family:"Poppins",sans-serif;}
body{
    height:100vh;
    background:linear-gradient(135deg,#ffd6e8,#ffe7f4,#ffc8dd);
    display:flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    
}


/* floating hearts background */
.hearts span{
    position:absolute;
    font-size:25px;
    animation:float 6s linear infinite;
    opacity:.6;
}
@keyframes float{
    0%{transform:translateY(100vh) scale(.5);}
    100%{transform:translateY(-10vh) scale(1);}
}

/* CARD */
.card{
    background:white;
    width:350px;
    text-align:center;
    padding:30px;
    border-radius:25px;
    box-shadow:0 0 40px rgba(255,100,150,.4);
    animation:fadeIn 1.2s ease;
}

.card img{
    width:170px;
    animation:floatImg 3s ease-in-out infinite;
}

@keyframes floatImg{
    0%,100%{transform:translateY(0);}
    50%{transform:translateY(-10px);}
}

h1{
    font-size:22px;
    color:#ff4f9a;
    margin-bottom:20px;
}

button{
    padding:12px 25px;
    margin:10px;
    border:none;
    font-size:17px;
    border-radius:20px;
    cursor:pointer;
    transition:.3s;
}

#yes{background:#ff8fb1;color:white;}
#no{background:#bde0fe;color:#333;position:relative;}

button:hover{transform:scale(1.1);}

#home, #surat{
    text-align:center;
    padding:30px;
    animation: fade 0.5s ease;
}
button{
    padding:10px 25px;
    border:none;
    font-size:16px;
    cursor:pointer;
    margin:10px;
    border-radius:10px;
}
@keyframes fade{
    from{opacity:0;}
    to{opacity:1;}
}

/* RESULT POPUP */
.result{
    position:absolute;
    top:0;left:0;
    width:100%;height:100%;
    background:rgba(255,255,255,.9);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    text-align:center;
    animation:fadeIn .8s forwards;
    display:none;
}

.result h2{
    font-size:24px;
    color:#ff3f8e;
    margin-bottom:15px;
    animation:pop .9s ease;
}

.back {
    margin-top: 15px;
    padding: 10px 22px;
    background: #ff9ecb;
    border: none;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    transition: 1.5s;
}

.back.hover{
    transform: scale(1.1);
    background: #ff78b4;
}

@keyframes fadeIn{from{opacity:0;}to{opacity:1;}}
@keyframes pop{0%{transform:scale(.3);}100%{transform:scale(1);}}

/* CONFETTI */
.confetti{
    position:fixed;
    top:-10px;
    font-size:22px;
    animation:drop 3s linear forwards;
}
@keyframes drop{
    to{transform:translateY(110vh) rotate(360deg);opacity:0;}
}
